<ul>
  <li><%= link_to 'Home', controller: 'product' %></li>
  <li><%= link_to 'Category',welcome_index_path%></li>
  <li><%= link_to 'About', welcome_about_path %></li>
   <li><%= link_to 'Contact', welcome_contact_path %></li>
</ul>
<br>
<%= render_breadcrumbs %>
<br>
<h2>Safira Watches</h2>
<br>
<%= paginate @products %>
<br>
<table>
  <tr>
   <th>Product</th>
   <th></th>
   <th></th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%=link_to 'Show', product_path(product.id)%></td>
    <td><%=link_to 'Back', root_path %></td>
   </tr>
  <% end %>
</table>
