<br>
<br>
<h2>Address details </h2>
<table>
<tr><td>Name: </td><td><%= @customer.name%> <td></tr>
<tr><td>Email: </td><td><%= @customer.email%> <td></tr>
<tr><td>Address:</td><td> <%= @customer.address%> <td></tr>
<tr><td>Province:</td> <td><%=@customer.province.name%></td> </tr>
</table>
<h2>Product Details</h2>
<%if cart.present? %>
<table>
  <tr>
   <th>Product</th>
   <th></th>
   <th></th>
  </tr>
<% cart.each do |product|%>
<tr>
    <td><%= product.name %></td>
     <td><%= product.price %></td>

</tr>
<%end%>
 <tr>
  <td>GST</td>
  <td><%= @customer.province.gst%>%</td>
  </tr>
  <td>PST</td>
  <td><%= @customer.province.pst%>%</td>
  </tr>
<% @customer.orders.each do |order| %>
<tr>
<td>Total Amount with including tax</td>
<td><%= order.totalamount%></td>
</tr>
<%end%>
<%end%>
  </table>

