<ul>
  <li><%= link_to 'Home', controller: 'product' %></li>
  <li><%= link_to 'Category',welcome_index_path%></li>
  <li><%= link_to 'About', welcome_about_path %></li>
   <li><%= link_to 'Contact', welcome_contact_path %></li>
</ul>
<br>
<%= render_breadcrumbs %>
<br>
<div class="about-section">
  <h1>Contact Us</h1>
  <p><%= @contact.name %></p>
   <p><%= @contact.address %></p>
   <p><%= @contact.contactno %></p>
   <p><%= @contact.email %></p>

  </div>
  <br>
  <br>
