
<br>
<%= render_breadcrumbs %>
<br>
<div class="about-section">
  <h1>Contact Us</h1>
  <p><%= @contact.name %></p>
   <p><%= @contact.address %></p>
   <p><%= @contact.contactno %></p>
   <p><%= @contact.email %></p>

  </div>
  <br>
  <br>
