<ul>
  <li><%= link_to 'Home', controller: 'product' %></li>
  <li><%= link_to 'Category',welcome_index_path%></li>
  <li><%= link_to 'About', welcome_about_path %></li>
   <li><%= link_to 'Contact', welcome_contact_path %></li>
  <li>
  <%= form_with(url: search_category_index_path, method: :get, local: true) do |form|%>
  <%= text_field_tag(:keywords, nil, placeholder: 'Serach for Products') %>

  <%= form.collection_select :category_id, @categories, :id,:name,include_blank: true %>

  <%= submit_tag("Search") %>
  <% end %>
  </li>
</ul>
<br>
<br>
<h2>Safira watches</h2>

<br>
<br>
<%= paginate @categories %>
<table>
  <tr>
   <th>Category</th>
   <th></th>
  </tr>
  <% @categories.each do |c|%>
  <tr>
    <td><%= c.name %></td>
    <td class='button' ><ul><li><%=link_to 'Show', category_index_path(c)%></li></ul></td>
    </tr>
  <% end %>
</table>
