<ul>
  <li><%= link_to 'Home', controller: 'product' %></li>
  <li><%= link_to 'Category',welcome_index_path%></li>
  <li><%= link_to 'About', welcome_about_path %></li>
   <li><%= link_to 'Contact', welcome_contact_path %></li>
 </ul>
<br>

<br>
<h2>Safira Watches</h2>
<br>
<div id = "pagi"><%= paginate @products %></div>
<br>


<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<%end%>
<table>
  <tr>
   <th>Product</th>
   <th></th>
   <th></th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%=link_to 'Show', product_path(product.id)%></td>
    <td>
    <% if cart.include?(product)%>
      <%= button_to cart_path(product), method: :delete do%>
      Remove from cart
      <%end%>
    <%else%>
      <%= form_with url: cart_index_path,method: :post do %>
      <%= hidden_field_tag(:id,product.id)%>
      <%= button_tag 'Add to cart'%><%end%>
      </td>
   </tr>
 <% end %>
  <% end %>
</table>
