
<br>
<%= render_breadcrumbs %>
<br>
  <% if @products.image.present? %>
   <%= image_tag @products.image.variant(resize_to_limit: [500, 500]).processed %>
   <%end%>
  <p><b>Product:</b>  <%= @products.name%> </p>
  <p><b>Description:</b>  <%=@products.description %> </p>
  <p><b>Price:</b>  <%= number_to_currency @products.price%> </p>
